# Run necessary background code

In [1]:
execfile('import_packages.py')

In [2]:
execfile('read_in_data.py')

C:\Users\cody.kallen\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\cody.kallen\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Functions and base values

In [3]:
execfile('amt_model.py')
execfile('ftc_model.py')
execfile('sec199_model.py')
execfile('ccr_model.py')
#execfile('interest_model.py')

You loaded data for 2009.
Tax-Calculator startup automatically extrapolated your data to 2013.
{'tau_scg': 0.319856951254272, 'tau_lcg': 0.22569175423344318, 'tau_h': 0.1716527226840607, 'tau_nc': 0.3205428658733798, 'tau_int': 0.3460716542050802, 'tau_div': 0.19227573879552445, 'tau_td': 0.24568244687095886}

In [4]:
execfile('gen_baseline.py')
execfile('usercode_taxcalc.py')

In [5]:
capPath_base_corp

,FixedInv,FixedK,Investment,Kstock,TrueDep,taxDep,year
0,1094.081762,6591.805053,1177.556186,9073.744596,508.231237,902.336891,2014
1,1048.886439,7198.960307,1163.657496,9771.988941,581.624855,890.312305,2015
2,944.754393,7757.812380,974.598908,10477.723962,639.197568,827.819233,2016
3,979.542579,8201.071455,1010.486042,10997.786532,677.558912,852.830903,2017
4,1020.509244,8667.183456,1052.746832,11549.422248,716.068312,807.392625,2018
5,1057.473593,9150.500719,1090.878874,12123.085955,755.035167,787.094657,2019
6,1093.940824,9644.505887,1128.498094,12711.413734,793.791020,633.603895,2020
7,1135.145903,10147.176540,1171.004829,13311.802351,832.331229,714.119119,2021
8,1180.008357,10660.098127,1217.284475,13924.931622,871.245007,785.425745,2022
9,1226.864361,11188.316296,1265.620646,14556.491460,911.182627,846.027716,2023
10,1275.744348,11733.724425,1316.044738,15208.689795,952.323252,898.876738,2024
11,1326.485996,12298.048088,1368.389300,15883.549091,994.819760,951.417177,2025
12,1379.317573,12881.992904,1422.889811,16581.854621,1038.719873,996.914734,2026
13,1434.173134,13485.860109,1479.478243,17303.828022,1084.055477,1043.977352,2027

In [6]:
capPath_base_noncorp

,FixedInv,FixedK,Investment,Kstock,TrueDep,taxDep,year
0,319.682732,3024.991042,360.948991,7936.559218,187.766689,283.773872,2014
1,338.357767,3166.277423,398.286254,8133.812870,200.564175,293.175099,2015
2,344.877587,3343.545672,361.548895,8431.074117,214.660258,293.423038,2016
3,357.576830,3533.086215,374.862016,8724.452978,227.479886,306.150800,2017
4,372.531494,3733.890939,390.539586,9043.081737,240.408819,296.495393,2018
5,386.025133,3943.094228,404.685505,9376.506860,253.528055,293.986117,2019
6,399.337303,4158.184428,418.641182,9720.745381,266.620942,249.537756,2020
7,414.378999,4378.284093,434.409990,10073.822444,279.682351,279.798753,2021
8,430.755800,4603.718468,451.578442,10434.204714,292.894337,306.177545,2022
9,447.860336,4836.445070,469.509808,10804.821526,306.466520,328.821334,2023
10,465.703716,5077.242674,488.215734,11186.885022,320.457894,348.323129,2024
11,484.226686,5326.834163,507.634100,11581.509379,334.919313,367.516397,2025
12,503.512573,5585.527479,527.852262,11989.014827,349.867278,383.823422,2026
13,523.537305,5853.443058,548.844986,12409.251887,365.312441,400.669910,2027

In [7]:
combined_base

,year,taxrev,amt,pymtc,ftc,taxbc,gbc_adj,tau,taxinc,sec199,taxDep,nid,ebitda
0,2014,320.731,4.457941,3.700228,101.582376,421.555664,0.02574,0.347,1312.193118,34.306208,902.336891,231.441998,2480.278216
1,2015,343.797,4.529305,3.799722,91.794692,434.862110,0.02574,0.347,1353.612624,34.855388,890.312305,243.981131,2522.761447
2,2016,299.571,4.524316,3.895522,96.318143,395.260349,0.02574,0.347,1230.342644,34.816996,827.819233,248.001094,2340.979966
3,2017,310.006,4.541886,3.978088,99.935946,409.378148,0.02574,0.347,1274.287681,34.952204,852.830903,268.262930,2430.333718
4,2018,324.343,4.550562,4.052119,96.600049,420.444606,0.02574,0.347,1308.734686,35.018974,807.392625,295.580925,2446.727209
5,2019,343.899,4.593510,4.117569,97.986091,441.409149,0.02574,0.347,1373.991854,35.349483,787.094657,328.934835,2525.370830
6,2020,380.350,4.659451,4.180064,103.553749,483.424362,0.02574,0.347,1504.774282,35.856932,633.603895,362.449185,2536.684293
7,2021,382.662,4.755976,4.243011,109.003947,491.152982,0.02574,0.347,1528.831464,36.599743,714.119119,393.699349,2673.249676
8,2022,389.490,4.886556,4.310368,114.806528,503.720339,0.02574,0.347,1567.950378,37.604625,785.425745,422.521900,2813.502648
9,2023,395.128,5.064423,4.386026,121.619274,516.068877,0.02574,0.347,1606.388166,38.973402,846.027716,448.489428,2939.878712
10,2024,405.058,5.257907,4.475105,127.492332,531.767530,0.02574,0.347,1655.253987,40.462363,898.876738,472.670473,3067.263561
11,2025,415.581,5.459850,4.577893,134.140633,548.839675,0.02574,0.347,1708.395135,42.016425,951.417177,496.094012,3197.922750
12,2026,427.951,5.681966,4.693701,140.248613,567.211347,0.02574,0.347,1765.581370,43.725726,996.914734,519.372736,3325.594567
13,2027,442.698,5.909939,4.823468,145.980717,587.592246,0.02574,0.347,1829.021805,45.480097,1043.977352,542.866412,3461.345666

# Apply partial equilibrium responses

## Specify economic and tax parameters

In [8]:
## Economic assumptions
p = 0.2     #real financial return
f = 0.32    #debt financing share
i_d = 0.068   #nominal interest rate on debt
pi = 0.024  #inflation rate
E = 0.058   #real return on equity

## Tax policy parameters
reform_start_year = 2017
tau_base = 0.35     #statutory tax rate, current law
tau_ref = 0.35      #statutory tax rate
progressive_rate = True
int_hc = 0.2        #haircut on interest deduction
## Modify bonus depreciation dataset to use new laws
bonus_data_ref = copy.deepcopy(bonus_data)
#for i in range(len(bonus_data_ref)):
#    if bonus_data_ref['year'][i] >= reform_start_year:
#        bonus_data_ref['bonus3'][i] = 1.
#        bonus_data_ref['bonus5'][i] = 1.
#        bonus_data_ref['bonus7'][i] = 1.
#        bonus_data_ref['bonus10'][i] = 1.
#        bonus_data_ref['bonus15'][i] = 1.
#        bonus_data_ref['bonus20'][i] = 1.
#        bonus_data_ref['bonus25'][i] = 1.
#        bonus_data_ref['bonus27'][i] = 1.
#        bonus_data_ref['bonus39'][i] = 1.

inventory_accounting = 0 #0 for historical mix of FIFO and LIFO, 1 for FIFO, 2 for LIFO, 3 for expensing
bonusrate_land = 0 #bonus depreciation rate for land. Does not affect model results

## Calculate the investment response

In [9]:
# Set all elasticities
#     inv_usercost_c: elasticity of corporate investment w.r.t. the user cost of capital
#     inv_usercost_nc: elasticity of noncorporate investment w.r.t. the user cost of capital
#     inv_eatr: semi-elasticity of investment w.r.t. the effective average tax rate
#     debt_taxshield_c: semi-elasticity of the corporate debt/asset ratio w.r.t. the marginal tax shield, tau * (1 - hc)
#     debt_taxshield_nc: semi-elasticity of the noncorporate debt/asset ratio w.r.t. the marginal tax shield, tau * (1 - hc)
#     legalform_ratediff: semi-elasticity of the corporate share of business activity w.r.t. the (Tc - Tnc) tax rate differential


elast_dict = {
    'inv_usercost_c': 0.0,
    'inv_usercost_nc': 0.0,
    'inv_eatr': 0.0,
    'debt_taxshield_c': 0.0,
    'debt_taxshield_nc': 0.0,
    'legalform_ratediff': 0.0
}
execfile('responses.py')

In [10]:
response_results = investmentResponse(reform_start_year)

***** RUN 2014 *****
***** RUN 2015 *****
***** RUN 2016 *****
***** RUN 2017 *****
***** RUN 2018 *****
***** RUN 2019 *****
***** RUN 2020 *****
***** RUN 2021 *****
***** RUN 2022 *****
***** RUN 2023 *****
***** RUN 2024 *****
***** RUN 2025 *****
***** RUN 2026 *****
***** RUN 2027 *****

In [11]:
response_results

,Asset,deltaIc2014,deltaEc2014,deltaInc2014,deltaEnc2014,deltaIc2015,deltaEc2015,deltaInc2015,deltaEnc2015,deltaIc2016,...,deltaInc2025,deltaEnc2025,deltaIc2026,deltaEc2026,deltaInc2026,deltaEnc2026,deltaIc2027,deltaEc2027,deltaInc2027,deltaEnc2027
0,Aerospace products and parts manufacturing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Air transportation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Aircraft,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"All other nonmanufacturing, n.e.c.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Amusement and recreation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Autos,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Books,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,"Chemical manufacturing, ex. pharma and med",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Communication,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Communications,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Communications equipment manufacturing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Computer systems design and related services,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Computers and peripheral equipment manufacturing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Construction tractors,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Custom software,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,DASDs,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Educational and vocational,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Electric,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Electric transmission and distribution,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Electro medical instruments,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Farm,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Farm tractors,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Financial and real estate services,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Food and beverage establishments,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Gas,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,General industrial equipment,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Highway and conservation and development,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Hospitals,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Household appliances,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Household furniture,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,"Other trucks, buses and truck trailers",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,Own account software,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,PCs,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69,Petroleum and natural gas,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,Petroleum pipelines,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,Pharmaceutical and medicine manufacturing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72,Photocopy and related equipment,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,Prepackaged software,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,Printers,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,Public safety,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76,Railroad equipment,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,Residential,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78,Scientific research and development services,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,Semiconductor and other component manufacturing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,Service industry machinery,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81,Sewage and waste disposal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,Ships and boats,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83,Software publishers,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,Special care,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85,Special industrial machinery,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86,Steam engines,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87,Storage devices,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88,System integrators,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89,Tape drives,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90,Terminals,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91,Theatrical movies,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,Track replacement,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,Warehouses,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,Water supply,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,Wind and solar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
## Create new investment matrices for corporate and noncorporate
(inv_mat_ref_corp, inv_mat_ref_noncorp) = buildNewInvMatrix(response_results, 'usercost')

In [13]:
## Redo capital calculations with new investment matrices
annualDepreciation_ref_corp = annualCCRdeduction(inv_mat_ref_corp, bonus_data_ref, adjfactor_dep_corp)
annualDepreciation_ref_noncorp = annualCCRdeduction(inv_mat_ref_noncorp, bonus_data_ref, adjfactor_dep_noncorp)

In [14]:
## Generate new capital stock path
(capPath_ref_corp, taxDep_ref_corp) = capitalPath(inv_mat_ref_corp, annualDepreciation_ref_corp)
(capPath_ref_noncorp, taxDep_ref_noncorp) = capitalPath(inv_mat_ref_noncorp, annualDepreciation_ref_noncorp, corp_noncorp=False)

In [15]:
capPath_ref_corp

,FixedInv,FixedK,Investment,Kstock,TrueDep,taxDep,year
0,1094.081762,6591.805053,1177.556186,9073.744596,508.231237,902.336891,2014
1,1048.886439,7198.960307,1163.657496,9771.988941,581.624855,890.312305,2015
2,944.754393,7757.812380,974.598908,10477.723962,639.197568,827.819233,2016
3,979.542579,8201.071455,1010.486042,10997.786532,677.558912,852.830903,2017
4,1020.509244,8667.183456,1052.746832,11549.422248,716.068312,807.392625,2018
5,1057.473593,9150.500719,1090.878874,12123.085955,755.035167,787.094657,2019
6,1093.940824,9644.505887,1128.498094,12711.413734,793.791020,633.603895,2020
7,1135.145903,10147.176540,1171.004829,13311.802351,832.331229,714.119119,2021
8,1180.008357,10660.098127,1217.284475,13924.931622,871.245007,785.425745,2022
9,1226.864361,11188.316296,1265.620646,14556.491460,911.182627,846.027716,2023
10,1275.744348,11733.724425,1316.044738,15208.689795,952.323252,898.876738,2024
11,1326.485996,12298.048088,1368.389300,15883.549091,994.819760,951.417177,2025
12,1379.317573,12881.992904,1422.889811,16581.854621,1038.719873,996.914734,2026
13,1434.173134,13485.860109,1479.478243,17303.828022,1084.055477,1043.977352,2027

In [16]:
capPath_base_corp

,FixedInv,FixedK,Investment,Kstock,TrueDep,taxDep,year
0,1094.081762,6591.805053,1177.556186,9073.744596,508.231237,902.336891,2014
1,1048.886439,7198.960307,1163.657496,9771.988941,581.624855,890.312305,2015
2,944.754393,7757.812380,974.598908,10477.723962,639.197568,827.819233,2016
3,979.542579,8201.071455,1010.486042,10997.786532,677.558912,852.830903,2017
4,1020.509244,8667.183456,1052.746832,11549.422248,716.068312,807.392625,2018
5,1057.473593,9150.500719,1090.878874,12123.085955,755.035167,787.094657,2019
6,1093.940824,9644.505887,1128.498094,12711.413734,793.791020,633.603895,2020
7,1135.145903,10147.176540,1171.004829,13311.802351,832.331229,714.119119,2021
8,1180.008357,10660.098127,1217.284475,13924.931622,871.245007,785.425745,2022
9,1226.864361,11188.316296,1265.620646,14556.491460,911.182627,846.027716,2023
10,1275.744348,11733.724425,1316.044738,15208.689795,952.323252,898.876738,2024
11,1326.485996,12298.048088,1368.389300,15883.549091,994.819760,951.417177,2025
12,1379.317573,12881.992904,1422.889811,16581.854621,1038.719873,996.914734,2026
13,1434.173134,13485.860109,1479.478243,17303.828022,1084.055477,1043.977352,2027

In [17]:
capPath_ref_noncorp

,FixedInv,FixedK,Investment,Kstock,TrueDep,taxDep,year
0,319.682732,3024.991042,360.948991,7936.559218,187.766689,283.773872,2014
1,338.357767,3166.277423,398.286254,8133.812870,200.564175,293.175099,2015
2,344.877587,3343.545672,361.548895,8431.074117,214.660258,293.423038,2016
3,357.576830,3533.086215,374.862016,8724.452978,227.479886,306.150800,2017
4,372.531494,3733.890939,390.539586,9043.081737,240.408819,296.495393,2018
5,386.025133,3943.094228,404.685505,9376.506860,253.528055,293.986117,2019
6,399.337303,4158.184428,418.641182,9720.745381,266.620942,249.537756,2020
7,414.378999,4378.284093,434.409990,10073.822444,279.682351,279.798753,2021
8,430.755800,4603.718468,451.578442,10434.204714,292.894337,306.177545,2022
9,447.860336,4836.445070,469.509808,10804.821526,306.466520,328.821334,2023
10,465.703716,5077.242674,488.215734,11186.885022,320.457894,348.323129,2024
11,484.226686,5326.834163,507.634100,11581.509379,334.919313,367.516397,2025
12,503.512573,5585.527479,527.852262,11989.014827,349.867278,383.823422,2026
13,523.537305,5853.443058,548.844986,12409.251887,365.312441,400.669910,2027

In [18]:
capPath_base_noncorp

,FixedInv,FixedK,Investment,Kstock,TrueDep,taxDep,year
0,319.682732,3024.991042,360.948991,7936.559218,187.766689,283.773872,2014
1,338.357767,3166.277423,398.286254,8133.812870,200.564175,293.175099,2015
2,344.877587,3343.545672,361.548895,8431.074117,214.660258,293.423038,2016
3,357.576830,3533.086215,374.862016,8724.452978,227.479886,306.150800,2017
4,372.531494,3733.890939,390.539586,9043.081737,240.408819,296.495393,2018
5,386.025133,3943.094228,404.685505,9376.506860,253.528055,293.986117,2019
6,399.337303,4158.184428,418.641182,9720.745381,266.620942,249.537756,2020
7,414.378999,4378.284093,434.409990,10073.822444,279.682351,279.798753,2021
8,430.755800,4603.718468,451.578442,10434.204714,292.894337,306.177545,2022
9,447.860336,4836.445070,469.509808,10804.821526,306.466520,328.821334,2023
10,465.703716,5077.242674,488.215734,11186.885022,320.457894,348.323129,2024
11,484.226686,5326.834163,507.634100,11581.509379,334.919313,367.516397,2025
12,503.512573,5585.527479,527.852262,11989.014827,349.867278,383.823422,2026
13,523.537305,5853.443058,548.844986,12409.251887,365.312441,400.669910,2027

## Change in earnings

In [19]:
earnings_ref_data = earningsResponse(response_results)
earnings_ref_data['earnings_base'] = combined_base['ebitda'].tolist()
earnings_ref_data['ebitda'] = earnings_ref_data['earnings_base'] + earnings_ref_data['deltaE']
#earnings_ref_data.drop(['deltaE', 'earnings_base'], axis=1, inplace=True)
combined_ref = earnings_ref_data.merge(right=taxDep_ref_corp, how='outer', on='year')

In [20]:
earnings_ref_data

    deltaE  year  earnings_base       ebitda
0      0.0  2014    2480.278216  2480.278216
1      0.0  2015    2522.761447  2522.761447
2      0.0  2016    2340.979966  2340.979966
3      0.0  2017    2430.333718  2430.333718
4      0.0  2018    2446.727209  2446.727209
5      0.0  2019    2525.370830  2525.370830
6      0.0  2020    2536.684293  2536.684293
7      0.0  2021    2673.249676  2673.249676
8      0.0  2022    2813.502648  2813.502648
9      0.0  2023    2939.878712  2939.878712
10     0.0  2024    3067.263561  3067.263561
11     0.0  2025    3197.922750  3197.922750
12     0.0  2026    3325.594567  3325.594567
13     0.0  2027    3461.345666  3461.345666

# Recalculate corporate tax using reform parameters

##  NID

In [21]:
iit_params_ref = {
    reform_start_year: {
        '_II_rt7': [0.396]
    }
}

In [22]:
(NID_ref, NIP_ref) = NID_response(capPath_ref_corp, nid_hc_year=reform_start_year, nid_hc=int_hc)
(IntDed_ref_noncorp, IntPaid_ref_noncorp) = noncorpIntDeduction_response(capPath_base_noncorp, id_hc_year=reform_start_year,
                                                                         id_hc_old=int_hc, id_hc_new=int_hc)
combined_ref = combined_ref.merge(right=NID_ref, how='outer', on='year')

You loaded data for 2009.
Tax-Calculator startup automatically extrapolated your data to 2013.
You loaded data for 2009.
Tax-Calculator startup automatically extrapolated your data to 2013.

## Section 199

In [23]:
sec199_reform = sec199()
combined_ref = combined_ref.merge(right=sec199_reform, how='outer', on='year')

## Taxable income and tax before credits

In [24]:
combined_ref['taxinc'] = combined_ref['ebitda'] - combined_ref['taxDep'] - combined_ref['nid'] - combined_ref['sec199']
combined_ref['gbc_adj'] = 0.025739617
combined_ref['tau'] = 0.347
combined_ref['tau'][reform_start_year-2014:] = tau_ref - progressive_rate * 0.003
combined_ref['taxbc'] = combined_ref['taxinc'] * (combined_ref['tau'] - combined_ref['gbc_adj'])

C:\Users\cody.kallen\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
combined_ref = combined_ref.merge(right=ftc_base, how='outer', on='year')
amt_ref = AMTmodel(ctax_rates=np.asarray(combined_ref['tau']))
combined_ref = combined_ref.merge(right=amt_ref, how='outer', on='year')
combined_ref['taxrev'] = combined_ref['taxbc'] + combined_ref['amt'] - combined_ref['ftc'] - combined_ref['pymtc']
combined_ref

,deltaE,year,earnings_base,ebitda,taxDep,nid,sec199,taxinc,gbc_adj,tau,taxbc,ftc,amt,pymtc,taxrev
0,0.0,2014,2480.278216,2480.278216,902.336891,231.441998,34.306208,1312.193118,0.02574,0.347,421.555664,101.582376,4.457941,3.700228,320.731000
1,0.0,2015,2522.761447,2522.761447,890.312305,243.981131,34.855388,1353.612624,0.02574,0.347,434.862110,91.794692,4.529305,3.799722,343.797000
2,0.0,2016,2340.979966,2340.979966,827.819233,248.001094,34.816996,1230.342644,0.02574,0.347,395.260349,96.318143,4.524316,3.895522,299.571000
3,0.0,2017,2430.333718,2430.333718,852.830903,214.610344,34.952204,1327.940267,0.02574,0.347,426.614599,99.935946,4.541886,3.978088,327.242450
4,0.0,2018,2446.727209,2446.727209,807.392625,236.464740,35.018974,1367.850871,0.02574,0.347,439.436295,96.600049,4.550562,4.052119,343.334688
5,0.0,2019,2525.370830,2525.370830,787.094657,263.147868,35.349483,1439.778821,0.02574,0.347,462.543896,97.986091,4.593510,4.117569,365.033746
6,0.0,2020,2536.684293,2536.684293,633.603895,289.959348,35.856932,1577.264119,0.02574,0.347,506.712475,103.553749,4.659451,4.180064,403.638113
7,0.0,2021,2673.249676,2673.249676,714.119119,314.959479,36.599743,1607.571334,0.02574,0.347,516.448982,109.003947,4.755976,4.243011,407.958001
8,0.0,2022,2813.502648,2813.502648,785.425745,338.017520,37.604625,1652.454758,0.02574,0.347,530.868248,114.806528,4.886556,4.310368,416.637909
9,0.0,2023,2939.878712,2939.878712,846.027716,358.791543,38.973402,1696.086051,0.02574,0.347,544.885254,121.619274,5.064423,4.386026,423.944377
10,0.0,2024,3067.263561,3067.263561,898.876738,378.136378,40.462363,1749.788081,0.02574,0.347,562.137589,127.492332,5.257907,4.475105,435.428059
11,0.0,2025,3197.922750,3197.922750,951.417177,396.875210,42.016425,1807.613938,0.02574,0.347,580.714746,134.140633,5.459850,4.577893,447.456070
12,0.0,2026,3325.594567,3325.594567,996.914734,415.498189,43.725726,1869.455917,0.02574,0.347,600.582124,140.248613,5.681966,4.693701,461.321777
13,0.0,2027,3461.345666,3461.345666,1043.977352,434.293129,45.480097,1937.595088,0.02574,0.347,622.472540,145.980717,5.909939,4.823468,477.578294

In [26]:
combined_base

,year,taxrev,amt,pymtc,ftc,taxbc,gbc_adj,tau,taxinc,sec199,taxDep,nid,ebitda
0,2014,320.731,4.457941,3.700228,101.582376,421.555664,0.02574,0.347,1312.193118,34.306208,902.336891,231.441998,2480.278216
1,2015,343.797,4.529305,3.799722,91.794692,434.862110,0.02574,0.347,1353.612624,34.855388,890.312305,243.981131,2522.761447
2,2016,299.571,4.524316,3.895522,96.318143,395.260349,0.02574,0.347,1230.342644,34.816996,827.819233,248.001094,2340.979966
3,2017,310.006,4.541886,3.978088,99.935946,409.378148,0.02574,0.347,1274.287681,34.952204,852.830903,268.262930,2430.333718
4,2018,324.343,4.550562,4.052119,96.600049,420.444606,0.02574,0.347,1308.734686,35.018974,807.392625,295.580925,2446.727209
5,2019,343.899,4.593510,4.117569,97.986091,441.409149,0.02574,0.347,1373.991854,35.349483,787.094657,328.934835,2525.370830
6,2020,380.350,4.659451,4.180064,103.553749,483.424362,0.02574,0.347,1504.774282,35.856932,633.603895,362.449185,2536.684293
7,2021,382.662,4.755976,4.243011,109.003947,491.152982,0.02574,0.347,1528.831464,36.599743,714.119119,393.699349,2673.249676
8,2022,389.490,4.886556,4.310368,114.806528,503.720339,0.02574,0.347,1567.950378,37.604625,785.425745,422.521900,2813.502648
9,2023,395.128,5.064423,4.386026,121.619274,516.068877,0.02574,0.347,1606.388166,38.973402,846.027716,448.489428,2939.878712
10,2024,405.058,5.257907,4.475105,127.492332,531.767530,0.02574,0.347,1655.253987,40.462363,898.876738,472.670473,3067.263561
11,2025,415.581,5.459850,4.577893,134.140633,548.839675,0.02574,0.347,1708.395135,42.016425,951.417177,496.094012,3197.922750
12,2026,427.951,5.681966,4.693701,140.248613,567.211347,0.02574,0.347,1765.581370,43.725726,996.914734,519.372736,3325.594567
13,2027,442.698,5.909939,4.823468,145.980717,587.592246,0.02574,0.347,1829.021805,45.480097,1043.977352,542.866412,3461.345666

In [27]:
compare = combined_ref['taxrev'] - combined_base['taxrev']
print ("Change in corporate tax revenue, " + str(reform_start_year) + "-" + str(reform_start_year + 9) + ": " +
       str(int((sum(combined_ref['taxrev'][reform_start_year-2014:reform_start_year-2004]) - 
           sum(combined_base['taxrev'][reform_start_year-2014:reform_start_year-2004])) * 100.) / 100.) + 
       " billion dollars")

Change in corporate tax revenue, 2017-2026: 257.52 billion dollars

In [28]:
for i in compare:
    print i

0.0
5.68434188608e-14
-1.13686837722e-13
17.2364503327
18.991688227
21.1347462373
23.2881127893
25.2960007474
27.1479094538
28.8163771112
30.3700594422
31.875070485
33.3707768089
34.880294264

## Calculate percent changes in investment income and pass-through income

In [29]:
execfile('multipliers_for_taxcalc.py')

In [30]:
indiv_gfactors

,Investment,year,inc_aftertax_base,inc_aftertax_ref,equity,debt,SchC_pos,SchC_neg,e26270_pos,e26270_neg
0,1177.556186,2014,1419.873981,1419.873981,1.000000,1.0,1.000000,1.000000,1.000000,1.000000
1,1163.657496,2015,1353.358462,1353.358462,1.000000,1.0,1.000000,1.000000,1.000000,1.000000
2,974.598908,2016,1154.210304,1154.210304,1.000000,1.0,1.000000,1.000000,1.000000,1.000000
3,1010.486042,2017,1174.505876,1157.269426,0.985325,1.0,1.003411,0.986034,1.008835,0.996374
4,1052.746832,2018,1110.734972,1091.743284,0.982902,1.0,1.003590,0.985303,1.009297,0.996185
5,1090.878874,2019,1097.501827,1076.367081,0.980743,1.0,1.003827,0.984330,1.009913,0.995932
6,1128.498094,2020,1000.094088,976.805975,0.976714,1.0,1.004052,0.983410,1.010495,0.995693
7,1171.004829,2021,1064.557097,1039.261097,0.976238,1.0,1.004217,0.982734,1.010923,0.995518
8,1217.284475,2022,1130.245741,1103.097832,0.975981,1.0,1.004321,0.982306,1.011193,0.995407
9,1265.620646,2023,1185.078657,1156.262280,0.975684,1.0,1.004372,0.982100,1.011324,0.995353
10,1316.044738,2024,1237.211836,1206.841777,0.975453,1.0,1.004388,0.982033,1.011366,0.995336
11,1368.389300,2025,1291.427977,1259.552907,0.975318,1.0,1.004386,0.982042,1.011360,0.995338
12,1422.889811,2026,1339.550958,1306.180181,0.975088,1.0,1.004373,0.982095,1.011327,0.995352
13,1479.478243,2027,1391.725777,1356.845482,0.974937,1.0,1.004353,0.982176,1.011275,0.995373

## Pass changes to Tax-Calculator

In [31]:
indiv_rev_impact = distribute_results()

You loaded data for 2009.
Tax-Calculator startup automatically extrapolated your data to 2013.
You loaded data for 2009.
Tax-Calculator startup automatically extrapolated your data to 2013.

In [32]:
for x in indiv_rev_impact:
    print x
print sum(indiv_rev_impact[3:])

0.0
7.72554519449e-14
0.0
-1.59651167218
-2.4186307463
-2.94425351716
-4.28645944357
-4.46062937512
-4.6242136373
-4.84385277017
-5.09263176301
-5.33715204809
-5.65320542153
-6.0236236428
-47.2811640372

In [33]:
ModelResults = pd.DataFrame({'year': range(2014,2028), 'IndivTaxRev': indiv_rev_impact})
ModelResults['CorpTaxRev'] = combined_ref['taxrev'] - combined_base['taxrev']
ModelResults['RevenueChange'] = ModelResults['IndivTaxRev'] + ModelResults['CorpTaxRev']
ModelResults

     IndivTaxRev  year    CorpTaxRev  RevenueChange
0   0.000000e+00  2014  0.000000e+00   0.000000e+00
1   7.725545e-14  2015  5.684342e-14   1.340989e-13
2   0.000000e+00  2016 -1.136868e-13  -1.136868e-13
3  -1.596512e+00  2017  1.723645e+01   1.563994e+01
4  -2.418631e+00  2018  1.899169e+01   1.657306e+01
5  -2.944254e+00  2019  2.113475e+01   1.819049e+01
6  -4.286459e+00  2020  2.328811e+01   1.900165e+01
7  -4.460629e+00  2021  2.529600e+01   2.083537e+01
8  -4.624214e+00  2022  2.714791e+01   2.252370e+01
9  -4.843853e+00  2023  2.881638e+01   2.397252e+01
10 -5.092632e+00  2024  3.037006e+01   2.527743e+01
11 -5.337152e+00  2025  3.187507e+01   2.653792e+01
12 -5.653205e+00  2026  3.337078e+01   2.771757e+01
13 -6.023624e+00  2027  3.488029e+01   2.885667e+01

In [34]:
for i in range(3,13):
    print ModelResults['RevenueChange'][i]
print '\n'
print sum(ModelResults['RevenueChange'][3:13])

15.6399386605
16.5730574807
18.1904927202
19.0016533458
20.8353713723
22.5236958165
23.9725243411
25.2774276792
26.5379184369
27.7175713874


216.269651241